{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EWABB Dashboard</title>
    {% tailwind_css %}
</head>

<body class="bg-gray-100 font-sans">
    <!-- Sidebar -->
        {% include 'dashboard/partials/bookkeeper_nav.html' %}
    <!-- Main Content -->
        <main class="p-6 ml-64 mr-4 mt-[72px] flex-1">
            <!-- Header with Back button -->
            <div class="flex justify-between items-center mb-6">
                <h1 class="text-3xl font-semibold text-blue-700">Membership Application Details</h1>
                <a href="{% url 'membershipApplication' %}"
                    class="px-4 py-2 bg-blue-700 text-white rounded-lg hover:bg-blue-700">Back</a>
            </div>

            <!-- Application Info -->
            <section class="mb-6 p-6 border border-gray-300 rounded-lg shadow-sm space-y-4">
                <h2 class="text-blue-700 text-lg font-semibold mb-4">Application Info</h2>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <p class="text-gray-600">Application ID:</p>
                        <p class="font-medium">{{ application.application_id }}</p>
                    </div>
                    <div>
                        <p class="text-gray-600">Date Accomplished:</p>
                        <p class="font-medium">{{ application.date_accomplished|date:"m/d/Y" }}</p>
                    </div>
                    <div>
                        <p class="text-gray-600">Status:</p>
                        <!-- Status Badge -->
                        {% if application.status == 'Approved' %}
                        <span class="px-3 py-1 text-sm font-medium rounded-full bg-green-100 text-green-700">
                            {{ application.status }}
                        </span>
                        {% elif application.status == 'Pending' %}
                        <span class="px-3 py-1 text-sm font-medium rounded-full bg-yellow-100 text-yellow-700">
                            {{ application.status }}
                        </span>
                        {% else %}
                        <span class="px-3 py-1 text-sm font-medium rounded-full bg-red-100 text-red-700">
                            {{ application.status }}
                        </span>
                        {% endif %}
                    </div>
                </div>
            </section>

            <!-- Personal Information Section -->
            <section class="mb-6 p-6 border border-gray-300 rounded-lg shadow-sm space-y-4">
                <h2 class="text-blue-700 text-lg font-semibold mb-4">Personal Information</h2>
                <div class="grid grid-cols-2 gap-x-8 gap-y-4">
                    <div>
                        <p><strong class="font-medium">Surname:</strong></p>
                        <p>{{ application.person_id.surname }}</p> <br>
                        <p><strong class="font-medium">First Name:</strong> </p>
                        <p>{{ application.person_id.first_name }}</p> <br>
                        <p><strong class="font-medium">Name Extension:</strong> </p>
                        <p>{{ application.person_id.name_extension|default:"--" }}</p> <br>
                        <p><strong class="font-medium">Middle Name:</strong> </p>
                        <p>{{ application.person_id.middle_name|default:"--" }}</p> <br>
                        <p><strong class="font-medium">Date of Birth:</strong></p>
                        <p>{{ application.person_id.date_of_birth|date:"m/d/Y" }}</p> <br>
                        <p><strong class="font-medium">Place of birth:</strong> </p>
                        <p> {{ application.person_id.place_of_birth }}</p> <br>
                        <p><strong class="font-medium">Gender:</strong> </p>
                        <p> {{ application.person_id.gender }}</p> <br>
                        <p><strong class="font-medium">Civil Status:</strong></p>
                        <p>{{ application.person_id.civil_status }}</p> <br>
                        <p><strong class="font-medium">Citizenship:</strong> </p>
                        <p>{{ application.person_id.citizenship }}</p> <br>
                        <p><strong class="font-medium">Height:</strong></p>
                        <p>{{ application.person_id.height|floatformat:"-2" }} cm</p> <br>
                        <p><strong class="font-medium">Weight:</strong> </p>
                        <p>{{ application.person_id.weight|floatformat:"-2" }} kg</p> <br>
                        <p><strong class="font-medium">Blood Type:</strong> </p>
                        <p>{{ application.person_id.blood_type }}</p> <br>
                        <p><strong class="font-medium">GSIS ID No.:</strong> </p>
                        <p>{{ application.person_id.gsis_id_no|default:"--" }}</p> <br>

                    </div>

                    <div>
                        <p><strong class="font-medium">PAG-IBIG No.:</strong> </p>
                        <p>{{ application.person_id.pagibig_id_no|default:"--" }}</p> <br>
                        <p><strong class="font-medium">PhilHealth No.:</strong> </p>
                        <p>{{ application.person_id.philhealth_id_no|default:"--" }}</p> <br>
                        <p><strong class="font-medium">SSS No.:</strong></p>
                        <p>{{ application.person_id.sss_id_no|default:"--" }}</p> <br>
                        <p><strong class="font-medium">Residential Address:</strong> </p>
                        <p>{{ application.person_id.residential_address }}</p> <br>
                        <p><strong class="font-medium">Residential ZIP Code:</strong> </p>
                        <p>{{ application.person_id.residential_address_zip_code }}</p> <br>
                        <p><strong class="font-medium">Residential Telephone No.:</strong></p>
                        <p>{{ application.person_id.residential_address_telephone_no|default:"--" }}</p> <br>
                        <p><strong class="font-medium">Permanent Address:</strong></p>
                        <p>{{ application.person_id.permanent_address }}</p> <br>
                        <p><strong class="font-medium">Permanent ZIP Code:</strong></p>
                        <p>{{ application.person_id.permanent_address_zip_code }}</p> <br>
                        <p><strong class="font-medium">Permanent Telephone No.:</strong></p>
                        <p>{{ application.person_id.permanent_address_telephone_no|default:"--" }}</p> <br>
                        <p><strong class="font-medium">Email address:</strong></p>
                        <p>{{ application.person_id.contact_email_address|default:"--" }}</p> <br>
                        <p><strong class="font-medium">Celphone No.:</strong></p>
                        <p>{{ application.person_id.cellphone_no }}</p> <br>
                        <p><strong class="font-medium">Agency Employee No.:</strong></p>
                        <p>{{ application.person_id.agency_employee_no|default:"--" }}</p> <br>
                        <p><strong class="font-medium">TIN:</strong> </p>
                        <p>{{ application.person_id.tin_no|default:"--" }}</p> <br>
                    </div>
            </section>

            {% if spouse %}
            <section class="mb-6 p-6 border border-gray-300 rounded-lg shadow-sm space-y-4">
                <h2 class="text-blue-700 text-lg font-semibold mb-4">Spouse Information</h2>
                <div class="grid grid-cols-2 gap-x-8 gap-y-4">
                    <div>
                        <p><strong class="font-medium">Spouse surname:</strong></p>
                        <p>{{ spouse.spouse_surname }}</p> <br>
                        <p><strong class="font-medium">First Name:</strong></p>
                        <p>{{ spouse.spouse_first_name }}</p> <br>
                        <p><strong class="font-medium">Middle Name:</strong></p>
                        <p>{{ spouse.spouse_middle_name|default:"--" }}</p> <br>
                        <p><strong class="font-medium">Occupation:</strong></p>
                        <p>{{ spouse.occupation|default:"--" }}</p> <br>
                    </div>
                    <div>
                        <p><strong class="font-medium"> Telephone no.</strong>:</strong></p>
                        <p>{{ spouse.telephone_no|default:"--" }}</p> <br>
                        <p><strong class="font-medium"> Employer / Business Name: </strong></p>
                        <p>{{ spouse.employer_business_name|default:"--" }}</p> <br>
                        <p><strong class="font-medium">Business address:</strong></p>
                        <p>{{ spouse.business_address|default:"--" }}</p> <br>
                    </div>



                </div>

            </section>
            {% endif %}

            <!-- children Section -->
            {% if children %}
            <section class="mb-6 p-6 border border-gray-300 rounded-lg shadow-sm space-y-4">
                <h2 class="text-blue-700 text-lg font-semibold mb-4">Name of children</h2>
                <!-- Table -->
                <div class="border border-gray-200 rounded-md overflow-hidden">
                    <table id="myTable" class="min-w-full text-sm">
                        <thead class="bg-gray-50 border-b border-gray-200">
                            <tr>
                                <th class="px-6 py-3 text-left font-medium text-gray-600">Name</th>
                                <th class="px-6 py-3 text-left font-medium text-gray-600">Date of Birth</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            {% for child in children %}
                            <tr id="row-{{ forloop.counter }}" class="border-b border-gray-200">
                                <td class="px-6 py-3">{{ child.full_name }}</td>
                                <td class="px-6 py-3">{{ child.date_of_birth|date:"m/d/Y" }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            {% endif %}

            <!-- Person to Contact Section -->
            <section>
                <div class="p-6 border border-gray-300 rounded-lg shadow-sm space-y-4">
                    <h2 class="text-blue-700 text-lg font-semibold mb-4">Person to Contact </h2>
                    <div class="grid grid-cols-2 gap-x-8 gap-y-4">
                        <div>
                            <p><strong class="font-medium">Name:</strong> </p>
                            <p>{{ emergency_contact.emergency_contact_name }}</p> <br>
                        </div>
                        <div>
                            <p><strong class="font-medium">Address:</strong></p>
                            <p>{{ emergency_contact.emergency_contact_address }}</p> <br>
                        </div>
                    </div>

                </div>
            </section>
        </main>
</body>

</html>