{% for member in members %}
<tr id="row-{{ member.member_id }}" ondblclick="window.location.href='details/{{member.member_id}}/';" class="cursor-pointer border-b border-gray-200 hover:bg-sky-100">
  <td class="px-6 py-3">{{ member.member_id}}</td>
  <td class="px-6 py-3">{{ member.account_number }}</td>
  <td class="px-6 py-3">
    {{ member.person_id__surname }},
    {{ member.person_id__first_name }}
    {% if member.person_id__name_extension %} {{ member.person_id__name_extension }}{% endif %}
    {% if member.person_id__middle_name %} {{ member.person_id__middle_name }}{% endif %}
  </td>
  <td class="px-6 py-3">{{ member.person_id__date_of_birth }}</td>
  <td class="px-6 py-3">{{ member.person_id__gender }}</td>
  <td class="px-6 py-3">{{ member.person_id__civil_status }}</td>
</tr>
{% endfor %}
