<!-- Sidebar -->
   <aside class="w-64 max-h-screen bg-white border-r">
      <div class="px-6 py-4 text-2xl font-bold text-blue-700">EWABB</div>
      <nav class="mt-6">
        <a href="{% url 'dashboard' %}" class="flex items-center px-6 py-3 text-gray-600 hover:text-[#3d5af1]"><span class="w-5 mr-3 inline-block"></span>Dashboard</a>
        <a href="{% url 'transactions' %}" class="flex items-center px-6 py-3 text-gray-600 hover:text-[#3d5af1]"><span class="w-5 mr-3 inline-block"></span>Transactions</a>
        <a href="{% url 'loans' %}" class="flex items-center px-6 py-3 text-[#3d5af1] font-semibold bg-[#f1f5ff]">  <span class="w-5 mr-3 inline-block"></span> Loans</a>
      </nav> 
    </aside>