{% for member in dividend_report %}
<tr id="row-{{forloop.counter}}" class="border-b border-gray-200">
    <td class="px-5 py-3" data-account-number="{{ member.account_number }}">
        {{ member.account_number }}
    </td>
    <td class="px-5 py-3" data-name="{{ member.person_id.first_name|upper }} {{ member.person_id.surname|upper }}">
        {{ member.person_id.first_name|upper }} {{ member.person_id.surname|upper }}
    </td>
    <td class="px-5 py-3" data-loan-balance="{{ member.loan_balance|default:'0.00' }}">
        {{ member.loan_balance|default:"0.00" }}
    </td>
    <td class="px-5 py-3" data-released-date="{{ member.released_date|date:'Y-m-d'|default:'' }}">
        {{ member.released_date|date:"M j, Y"|default:"" }}
    </td>
    <td class="px-5 py-3" data-savings-balance="{{ member.savings_balance_with_penalty }}">
        {{ member.savings_balance_with_penalty }}
    </td>
    <td class="px-5 py-3" data-penalty-amount="{{ member.penalty_amount|default:'0.00' }}">
        {{ member.penalty_amount|default:"0.00" }}
    </td>
    <td class="px-5 py-3" data-savings-after-deduction="{{ member.savings_after_deduction|default:'0.00' }}">
        {{ member.savings_after_deduction|default:"0.00" }}
    </td>
    <td class="px-5 py-3" data-total-savings-investment="{{ member.total_savings_investment|default:'0.00' }}">
        {{ member.total_savings_investment|default:"0.00" }}
    </td>
    <td class="px-5 py-3" data-dividend-amount="{{ member.dividend_amount|default:'0.00' }}">
        {{ member.dividend_amount|default:"0.00" }}
    </td>
    <td class="px-5 py-3" data-updated-savings-investment="{{ member.updated_savings_investment|default:'0.00' }}">
        {{ member.updated_savings_investment|default:"0.00" }}
    </td>
</tr>
{% endfor %}