{% for loanApplication in loanApplications %}
<tr id="row-{{ loanApplication.loan_application_id }}" ondblclick="window.location.href='details/{{loanApplication.loan_application_id}}/';" class="cursor-pointer border-b border-gray-200 hover:bg-sky-100">
  <td class="px-6 py-3">{{ loanApplication.loan_application_id}}</td>
  <td class="px-6 py-3">{{ loanApplication.member_id__account_number }}</td>
  <td class="px-6 py-3">
    {% if loanApplication.loan_term_years %} 
      {{ loanApplication.loan_term_years }}
      {% if loanApplication.loan_term_years > 1 %}
        years
      {% else %}
        year
      {% endif %}
    {% endif %}
    {% if loanApplication.loan_term_years and loanApplication.loan_term_months %} 
      and 
    {% endif %}
    {% if loanApplication.loan_term_months %} 
      {{ loanApplication.loan_term_months }}
      {% if loanApplication.loan_term_months > 1 %}
        months
      {% else %}
        month
      {% endif %}
    {% endif %}
    {% if loanApplication.loan_term_days %} {{ loanApplication.loan_term_days }} days{% endif %}
  </td>
  <td class="px-6 py-3">{{ loanApplication.loan_amount }}</td>
  <td class="px-6 py-3">{{ loanApplication.amortization }}</td>
  <td class="px-6 py-3 flex gap-2">
    <button onclick="openConfirmModal('confirmModal')" class="action-btn w-12 h-6 flex items-center justify-center rounded-full border border-green-500 text-green-500 hover:bg-green-100" data-id="{{ loanApplication.loan_application_id }}" data-action="approve">✓</button>
    <button onclick="openConfirmModal('rejectModal')" class="action-btn w-12 h-6 flex items-center justify-center rounded-2xl border border-red-500 text-red-500 hover:bg-red-100" data-id="{{ loanApplication.loan_application_id }}" data-action="reject">✗</button>
  </td>
</tr>
{% endfor %}
