{% for transaction in transactions %}
<tr id="row-{{ transaction.transaction_id }}" class="border-b border-gray-200">
    <td class="px-6 py-3">{{ transaction.transaction_id }}</td>
    <td class="px-6 py-3">{{ transaction.transaction_type }}</td>
    <td class="px-6 py-3">{{ transaction.member_id__account_number }}</td>
    <td class="px-6 py-3">{{ transaction.transaction_date|date:"Y-m-d h:i A" }}</td>
    <td class="px-6 py-3">
        {% if transaction.transaction_type == "Savings Deposit" or transaction.transaction_type == "Loan Payment" %}
        <span class="text-green-700 font-semibold">
            + ₱{{ transaction.amount }}
        </span>
        {% elif transaction.transaction_type == "Withdrawal" %}
        <span class="text-red-700 font-semibold">
            - ₱{{ transaction.amount }}
        </span>
        {% endif %}
    </td>
</tr>
{% endfor %}
