{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EWABB Dashboard</title>
  {% tailwind_css %}
  <script src="{% static 'partials/table-utils.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      fillTableRows('myTable', 10);
    });
  </script>
</head>

<body class="bg-gray-100 font-sans">
  <div class="flex h-screen">
    {% include 'dashboard/partials/bookkeeper_nav.html' %}
    <!-- Main Content -->
    <main class="p-6 ml-64 mr-4 mt-[72px] flex-1">

      {% if request.user.groups.all.0.name == "Bookkeeper" %}
        {% include 'dashboard/partials/bookkeeper_nav.html' %}
      <!-- Action buttons -->
      <div class="flex justify-end">
        <button onclick="document.getElementById('popup-form').classList.remove('hidden')" class="rounded bg-blue-600 px-5 py-2 text-white hover:bg-blue-700">Add new</button>
      </div>
      {% elif request.user.groups.all.0.name == "Admin" %}
        {% include 'dashboard/partials/admin_nav.html' %}
      {% endif %}

      <!-- Table -->
      <div class="py-4">
        <div class="border border-gray-200 rounded-md overflow-hidden">
          <table id="myTable" class="min-w-full text-sm">
            <thead class="bg-gray-50 border-b border-gray-200">
              <tr>
                <th class="px-6 py-3 text-left font-medium text-gray-600">ID</th>
                <th class="px-6 py-3 text-left font-medium text-gray-600">Bussiness Program</th>
                <th class="px-6 py-3 text-left font-medium text-gray-600">Date Start</th>
                <th class="px-6 py-3 text-left font-medium text-gray-600">Date End</th>
                <th class="px-6 py-3 text-left font-medium text-gray-600">Status</th>
                <th class="px-6 py-3 text-left font-medium text-gray-600">Profits</th>
              </tr>
            </thead>
            <tbody id="table-body" class="bg-white">
              {% include 'programs/partials/programs_table_body.html' %}
            </tbody>
          </table>
        </div>

        <div id="pagination-controls">
          {% include 'partials/pagination.html' %}
        </div>
      </div>
    </main>
  </div>
    <!-- Popup Form Modal -->
    <div id="popup-form" class="bg-opacity-50 fixed inset-0 z-50 flex hidden items-center justify-center bg-black/10">
      <div class="w-96 rounded-lg bg-white shadow-lg">
        <!-- Header -->
        <div class="flex items-center justify-between px-6 py-4">
          <h2 class="text-lg font-semibold">Business Program Form</h2>
          <button type="button" onclick="closePopUp()" class="text-xl text-gray-500 hover:text-gray-800">✕</button>
        </div>

        <!-- Form Body -->
        <form id="createProgramForm" class="space-y-4 px-6 py-4">
          <div>
            <label class="block text-sm font-medium text-gray-700">Bussiness Program</label>
            <input id="program" type="text" name="program" placeholder="e.g., Bussiness Program 1" class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 text-sm shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:outline-none" required/>
            <p id="programMessage" class="hidden text-xs mt-2 text-error">Business program already exist</p>
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-700">Date Start</label>
            <input type="datetime-local" name="date_start" class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 text-sm shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:outline-none" required/>
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-700">Date End</label>
            <input type="datetime-local" name="date_end" class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 text-sm shadow-sm focus:border-blue-500 focus:ring-blue-500 focus:outline-none"/>
          </div>
          <!-- Footer -->
        <div class="flex justify-end gap-3">
          <button type="button" onclick="closePopUp()" class="rounded bg-gray-200 px-4 py-2 text-sm hover:bg-gray-300">Cancel</button>
          <button type="submit" class="rounded bg-blue-600 px-4 py-2 text-sm text-white hover:bg-blue-700">Save</button>
        </div>
        </form>

        
      </div>
    </div>
    <!-- Toast -->
<div
  id="toast"
  class="pointer-events-none fixed inset-x-0 top-4 z-[60] mx-auto w-fit rounded-xl hidden px-4 py-2 text-white shadow-lg"
  role="status"></div>
    <script>
      let timeout;

      function closePopUp() {
        document.getElementById('popup-form').classList.add('hidden')
      }

      document.getElementById('program').addEventListener("input", function () {
        clearTimeout(timeout);
        timeout = setTimeout(check_programExists, 500);
      });

      async function check_programExists() {
        program = document.getElementById("program").value.trim();
        const response = await fetch(`{% url 'check_program' %}?program=${encodeURIComponent(program)}`);

        const data =  await response.json();

        if (data.exists) {
          document.getElementById("programMessage").classList.remove("hidden");
          return true;
        } else {
          document.getElementById("programMessage").classList.add("hidden");
          return false;
        }
      }

      document.getElementById("createProgramForm").addEventListener("submit", async function(e) {
        e.preventDefault();
        
        const exists = await check_programExists();
        if (exists) {
          this.disabled = false;
          return;
        }
        
        try {
          const form = e.target;
          const formData = new FormData(form);

          const response = await fetch("{% url 'create_program' %}", {
            method: "POST",
            headers: {
              "X-CSRFToken": "{{ csrf_token }}"
            },
            body: formData
          })

          const data = await response.json();

          if (data.success) {
            showAlert(data.message, "success")
            closePopUp();
          } else {
            showAlert(data.message, "failed")
          }
        } catch (Error) {
          console.error('Caught an error:', Error);
        }
        this.disabled = false;
      })
      // Toast notification function
    function showAlert(message, type) {
      const toast = document.getElementById("toast");

      // Remove old color classes before adding new one
      toast.classList.remove("bg-emerald-600", "bg-red-600", "bg-yellow-600");

      // Style by type
      if (type === "success") {
        toast.classList.add("bg-emerald-600"); // green
      } else if (type === "failed") {
        toast.classList.add("bg-red-600");
      } else {
        toast.classList.add("bg-yellow-600"); // yellow default
      }

      // Set message
      toast.textContent = message;

      // Show toast
      toast.classList.remove("hidden");

      // Hide after 4s
      setTimeout(() => toast.classList.add("hidden"), 4000);
    }
    </script>
</body>

</html>