{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Info</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-100 font-sans">
    <!-- Sidebar -->
      {% include 'dashboard/partials/admin_nav.html' %}
    <main class="p-6 ml-64 mr-4 mt-[72px] flex-1">
        <h1 class="ml-3 text-3xl font-semibold text-blue-600 mb-6">Loan Details</h1>

        <!-- Loan Information Section -->
        <section class="mb-6 p-6 border border-gray-300 rounded-lg shadow-sm space-y-4">
           <h2 class="text-2xl font-semibold text-blue-600 mb-4">Loan Information</h2> 
           <div class="grid grid-cols-2 gap-x-8 gap-y-4">
            <div>
                <p><strong class="font-medium">Loan Application ID</strong></p> <p>12345</p> <br>
                <p><strong class="font-medium">Member ID</strong></p> <p>98765</p> <br>
                <p><strong class="font-medium">Outstanding Balance</strong></p> <p>5000.00</p> <br>
                </div>
                <div>
                <p><strong class="font-medium">Loan Status</strong></p> <p>Ongoing</p> <br>
                <p><strong class="font-medium">Released By ID</strong></p> <p>1001</p> <br>
                <p><strong class="font-medium">Released Date</strong></p> <p>09-01-2025</p> <br>
            </div>
           </div>
        </section>

        <!-- Loan Repayment Schedule Section -->
        <section class="mb-6 p-6 border border-gray-300 rounded-lg shadow-sm space-y-4">
            <h2 class="text-2xl font-semibold text-blue-600 mb-4">Loan Repayment Schedule</h2>
            <div class="grid grid-cols-2 gap-x-8 gap-y-4">
                <div>
                <p><strong class="font-medium">Schedule ID</strong></p> <p>45678</p> <br>
                <p><strong class="font-medium">Due Date</strong></p> <p>09-01-2026</p> <br>
                <p><strong class="font-medium">Installment</strong></p> <p>500.00</p> <br>
                <p><strong class="font-medium">emaining Balance with Penalty</strong></p> <p>Ongoing</p> <br>
                </div>
                <div>
                <p><strong class="font-medium">Status</strong></p> <p>Pending</p> <br>
                <p><strong class="font-medium">Paid Date</strong></p> <p>N/A</p> <br>
                <p><strong class="font-medium">Last Updated</strong></p> <p>09-01-2025</p> <br>
                <p><strong class="font-medium">Created At</strong></p> <p>09-01-2025 12:00:00</p> <br>
            </div>
           </div>
        </section>
    </main>
</body>
</html>
