{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Application Info</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-100 font-sans antialiased">
    {# --- Dynamic Navigation --- #}
    {% if request.user.groups.all.0.name == "Bookkeeper" %}
      {% include 'dashboard/partials/bookkeeper_nav.html' %}
    {% elif request.user.groups.all.0.name == "Admin" %}
      {% include 'dashboard/partials/admin_nav.html' %}
    {% endif %}
    <div class="p-6 ml-64 mr-4 mt-[72px] flex-1">
        <h1 class="text-3xl font-semibold text-blue-600 mb-6">Loan Application Details</h1>

        <!-- Loan Information Section -->
        <section class="mb-6 p-6 border border-gray-300 rounded-lg shadow-sm space-y-4">
           <h2 class="text-2xl font-semibold text-blue-600 mb-4">Loan Application Information</h2> 
           <div class="grid grid-cols-2 gap-x-8 gap-y-4">
            <div>
                <p><strong class="font-medium">Loan Application ID</strong></p> <p>12345</p> <br>
                <p><strong class="font-medium">Member ID</strong></p> <p>98765</p> <br>
                <p><strong class="font-medium">Outstanding Balance</strong></p> <p>5000.00</p> <br>
                </div>
                <div>
                <p><strong class="font-medium">Loan Status</strong></p> <p>Ongoing</p> <br>
                <p><strong class="font-medium">Released By ID</strong></p> <p>1001</p> <br>
                <p><strong class="font-medium">Released Date</strong></p> <p>09-01-2025</p> <br>
            </div>
           </div>
        </section>
</body>
</html>
