{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EWABB Loans</title>
    {% tailwind_css %}
    <script src="{% static 'partials/table-utils.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      fillTableRows('myTable', 10);
    });
  </script>
  </head>
   <body class="bg-gray-100 font-sans">
    <div class="flex h-screen">
      {% include 'dashboard/partials/member_nav.html' %}
     <!-- Main Content -->
      <main class="sm:ml-64 mt-[72px] flex-1">
        <div class="p-6 mt-6">
          <div class="flex justify-end-safe px-6">
            <button onclick="openPopUp()" class="border border-[#3d5af1] text-[#3d5af1] px-4 py-1 rounded-full hover:bg-[#f1f5ff] text-sm">
              New Loan
            </button>
          </div>
          <div class="flex justify-between items-center px-6 py-4">
            <h1 class="font-semibold text-gray-700">All Loans</h1>
            <div class="join">
              <div>
                <div>
                  <input class="w-full border border-gray-300 rounded-md px-4 py-2 focus:ring-2 focus:ring-blue-400 focus:outline-none" placeholder="Search" />
                </div>
              </div>
              <select class="join-item w-full border border-gray-300 rounded-md px-1 focus:ring-2 focus:ring-blue-400 focus:outline-none">
                <option disabled selected>Filter</option>
                <option>Term</option>
                <option>Loan Type</option>
                <option>Status</option>
              </select>
              <div class="w-2xs border border-gray-300 rounded-md px-4 py-2 focus:ring-2 focus:ring-blue-400 focus:outline-none">
                <button class="join-item">Search</button>
              </div>
            </div>
          </div>
          <div class="bg-white rounded-xl shadow overflow-hidden">
            <table class="min-w-full text-left">
                <thead>
                  <tr class="text-sm text-blue-500">
                    <th class="px-6 py-3 text-left font-medium">Amount Loan</th>
                    <th class="px-6 py-3 text-left font-medium">Term</th>
                    <th class="px-6 py-3 text-left font-medium">Loan Type</th>
                    <th class="px-6 py-3 text-left font-medium">Release Amount</th>
                    <th class="px-6 py-3 text-left font-medium">Installment</th>
                    <th class="px-10 py-3 text-left font-medium">Status</th>
                  </tr>
                </thead>
                <tbody id="loans-table-body" class="bg-white">
                  {% include 'loans/partials/member_loan_table_body.html' %}
                </tbody>
              </table>
          </div>

          <!-- Pagination -->
          <div class="px-6 py-4 text-sm text-gray-500 flex justify-end items-center space-x-4">
              <button class="text-blue-500">&lt; Previous</button>
              <button class="w-6 h-6 bg-blue-600 text-white rounded text-xs">1</button>
              <button class="text-blue-500">2</button>
              <button class="text-blue-500">3</button>
              <button class="text-blue-500">4</button>
              <button class="text-blue-500">Next &gt;</button>
            </div>
        </div>
      </main>
    </div>

    <!-- Toast container (bottom-right) -->
        <div id="toast-container" class="toast toast-end opacity-0 transition-opacity duration-500 ease-in-out">{{ message }}</div>\

    {% include 'loans/partials/apply_loan.html' %}
    <div id="popup" class="hidden fixed inset-0 flex items-center justify-center bg-black/10 z-50">
      <form method="POST" action="{% url 'loan_applications' %}" class="bg-white rounded-xl shadow-md p-8 w-96">
        {% csrf_token %}
      <!-- Loan Type -->
      <div class="mb-4">
        <label class="block text-gray-700 mb-1">Loan Type</label>
        <select required 
        id="loanType"
        name="loanType"
        class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-500">
          <option value="" selected hidden>-- Choose Loan Type --</option>
          <option>Personal Loan</option>
          <option>Business Loan</option>
          <option>Emergency Loan</option>
        </select>
      </div>

      <!-- Amount -->
      <div class="mb-4">
        <label class="block text-gray-700 mb-1">Amount</label>
        <input
          name="loanAmount"
          id="amount"
          type="text"
          oninput="this.value=this.value.replace(/[^0-9]/g,'')"
          onkeyup="updateLoanDetails()"
          required
          class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <!-- Term -->
      <div class="mb-6">
        <div class="slider-container">
          <label class="block text-gray-700 mb-1">Term</label>
          <input type="range" class="w-full accent-blue-600" 
          id="loan-term"
          class="slider"
          min="0"
          max="21"
          step="1"
          value="0"
          oninput="updateValue(this.value)"
          required/>
          <div class="flex justify-center">
            <input type="text" id="term-value" name="loanTerm" class="text-black mt-1 outline-none text-center" readonly/>
          </div>
          </div>
        </div>

        <!-- Details -->
        <div class="space-y-2 mb-6">
          <div class="flex justify-between text-gray-700">
            <span>Total Payable</span>
            <input type="text" name="totalPayable" id="totalPayable" class="text-black font-medium text-end outline-none" value="0" readonly/>
          </div>
          <div class="flex justify-between text-gray-700">
            <span>Amortization</span>
            <div class="flex justify-between">
              <input type="text" name="amortization" id="amortization"
                    class="text-black font-medium text-end outline-none w-39 pr-1"
                    value="0" readonly />
              <div id="displayValue" class=" text-black font-medium w-auto text-end">
                    / Daily</div>
            </div>
          </div>
          <div class="flex justify-between text-gray-700">
            <span>Service Charge</span>
            <input type="text" name="serviceCharge" id="serviceCharge" class="text-black font-medium text-end outline-none" value="0" readonly/>
          </div>
          <div class="flex justify-between text-gray-700">
            <span>CBU</span>
            <input type="text" name="cbu" id="cbu" class="text-black font-medium text-end outline-none" value="0" readonly/>
          </div>
          <div class="flex justify-between text-gray-700">
            <span>Insurance</span>
            <input type="text" name="insurance" id="insurance" class="text-black font-medium text-end outline-none" value="0" readonly/>
          </div>
          <div class="flex justify-between text-gray-700">
            <span>Release Amount</span>
            <input type="text" name="releaseAmount" id="releaseAmount" class="text-black font-medium text-end outline-none" value="0" readonly/>
          </div>
        </div>

        <!-- Buttons -->
        <div class="flex justify-between items-center">
          <button id="cancel" onclick="closePopUp()" class="text-black font-medium border px-10 py-2 rounded-lg">Cancel</button>
          <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-medium px-10 py-2 rounded-lg">
            Submit
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
