{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EWABB Loans</title>
    {% tailwind_css %}
    <script src="{% static 'partials/table-utils.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      fillTableRows('myTable', 10);
    });
  </script>
  </head>
   <body class="bg-gray-100 font-sans">
    <div class="flex h-screen">
      {% include 'dashboard/partials/member_nav.html' %}
     <!-- Main Content -->
      <main class="sm:ml-64 mt-[72px] flex-1">
        <div class="p-6 mt-6">
          <div class="flex justify-end-safe px-6">
            <button onclick="openPopUp()" class="border border-[#3d5af1] text-[#3d5af1] px-4 py-1 rounded-full hover:bg-[#f1f5ff] text-sm">
              New Loan
            </button>
          </div>
          <div class="flex justify-between items-center px-6 py-4">
            <h1 class="font-semibold text-gray-700">All Loans</h1>
            <div class="join">
              <div>
                <div>
                  <input class="w-full border border-gray-300 rounded-md px-4 py-2 focus:ring-2 focus:ring-blue-400 focus:outline-none" placeholder="Search" />
                </div>
              </div>
              <select class="join-item w-full border border-gray-300 rounded-md px-1 focus:ring-2 focus:ring-blue-400 focus:outline-none">
                <option disabled selected>Filter</option>
                <option>Term</option>
                <option>Loan Type</option>
                <option>Status</option>
              </select>
              <div class="w-2xs border border-gray-300 rounded-md px-4 py-2 focus:ring-2 focus:ring-blue-400 focus:outline-none">
                <button class="join-item">Search</button>
              </div>
            </div>
          </div>
          <div class="bg-white rounded-xl shadow overflow-hidden">
            <table id="myTable" class="min-w-full text-left">
                <thead>
                  <tr class="text-sm text-blue-500">
                    <th class="px-6 py-3 text-left font-medium">Amount Loan</th>
                    <th class="px-6 py-3 text-left font-medium">Term</th>
                    <th class="px-6 py-3 text-left font-medium">Loan Type</th>
                    <th class="px-6 py-3 text-left font-medium">Release Amount</th>
                    <th class="px-6 py-3 text-left font-medium">Installment</th>
                    <th class="px-10 py-3 text-left font-medium">Status</th>
                  </tr>
                </thead>
                <tbody id="table-body" class="bg-white">
                  {% include 'loans/partials/member_loan_table_body.html' %}
                </tbody>
              </table>
          </div>

          <div id="pagination-controls">
          {% include 'partials/pagination.html' %}
        </div>
        </div>
      </main>
    </div>
    {% include 'loans/partials/apply_loan.html' %}
  </body>
</html>
