{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EWABB Dashboard</title>
  {% tailwind_css %}
</head>
<body class="bg-gray-100 font-sans">
  <div class="flex h-screen">
    {% include 'dashboard/partials/bookkeeper_nav.html' %}

    <!-- Main Content -->
    <div class="p-6 ml-64 mr-4 mt-[72px] flex-1">

      <!-- Dashboard content -->
      <main class="space-y-6">
        <div class="grid grid-cols-3 gap-6">
          <!-- Total Member -->
          <div class="stat bg-white p-6 rounded-xl shadow-sm">
            <div class="stat-title font-semibold">Total Members</div>
            <div class="stat-value">{{ total_members }}</div>
            <div class="stat-actions">
            </div>
          </div>

          <!-- Upcoming Appointments -->
          <div class="bg-white shadow p-4 rounded-xl">
            <h3 class="font-medium mb-2">Today Appointments</h3>
            <div class="flex justify-between text-sm border-b border-gray-200 py-1">
              <span>Cashier</span><span class="text-blue-500">May 3, 2025 12:30 AM</span>
            </div>
            <div class="flex justify-between text-sm border-b border-gray-200 py-1">
              <span>Cashier</span><span class="text-blue-500">May 3, 2025 12:30 AM</span>
            </div>
            <div class="flex justify-between text-sm border-gray-200 py-1">
              <span>Cashier</span><span class="text-blue-500">May 3, 2025 12:30 AM</span>
            </div>
          </div>

          <!-- Active Loans -->
          <div class="bg-white shadow p-4 rounded-xl">
            <h3 class="font-medium mb-2">Active Loans</h3>
            <div class="flex justify-between text-sm border-b border-gray-200 py-1">
              <span>Educational</span><span class="text-blue-500">May 3, 2025</span><span>300</span>
            </div>
            <div class="flex justify-between text-sm border-b border-gray-200 py-1">
              <span>Personal Loan</span><span class="text-blue-500">May 9, 2025</span><span>330</span>
            </div>
            <div class="flex justify-between text-sm border-b border-gray-200 py-1">
              <span>Business Loan</span><span class="text-blue-500">May 10, 2025</span><span>450</span>
            </div>
          </div>
        </div>

        <!-- Members Growth -->
        <div class="bg-white shadow p-4 rounded-xl">
          <h3 class="font-medium mb-4">Members Growth</h3>
          <div class="h-64 flex items-end space-x-6"></div>
        </div>
      </main>
    </div>
  </div>
</body>
</html>
