{% for member in page.object_list %}
<tr id="row-{{ member.member_id }}" class="border-b border-gray-200">
  <td class="px-6 py-3">{{ member.member_id}}</td>
  <td class="px-6 py-3">{{ member.account_number }}</td>
  <td class="px-6 py-3">
    {{ member.person_id__surname }},
    {{ member.person_id__first_name }}
    {% if member.person_id__name_extension %} {{ member.person_id__name_extension }}{% endif %}
    {% if member.person_id__middle_name %} {{ member.person_id__middle_name }}{% endif %}
  </td>
  <td class="px-6 py-3">{{ member.person_id__date_of_birth }}</td>
  <td class="px-6 py-3">{{ member.person_id__gender }}</td>
  <td class="px-6 py-3">{{ member.person_id__civil_status }}</td>
  <td class="px-6 py-3"><!-- View Button -->
    <a href="details/{{member.member_id}}/"
       class="btn w-15 h-6 flex items-center justify-center rounded-2xl">
       details
    </a></td>
</tr>
{% endfor %}
