{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Transactions</title>
  {% tailwind_css %}
  <script src="{% static 'partials/table-utils.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      fillTableRows('myTable', 10);
    });
  </script>
</head>

<body class="bg-gray-100 font-sans">
  <!-- Sidebar -->
  {% include 'dashboard/partials/admin_nav.html' %}
  <div class="flex h-screen">

    <!-- Main Content -->
    <main class="ml-64 mr-4 mt-[72px] flex-1">
      <div class="px-6 pt-4">
        <div class="flex border-b border-gray-300 mb-4">
          <button class="px-4 py-2 text-sm font-medium text-blue-600 border-b-2 border-blue-600">Members
            Transactions</button>
          <!--<button class="px-4 py-2 text-sm font-medium text-gray-500 hover:text-gray-700">Program Transactions</button>-->
        </div>
      </div><!-- Tabs -->


      <!-- Transactions Table -->
      <div class="p-6">
        <div class="bg-white rounded-xl shadow overflow-hidden">
          <table id="myTable" class="min-w-full text-left text-sm">
            <thead class="bg-gray-50 border-b border-gray-200">
              <tr>
                <th class="px-6 py-3 text-left font-medium">Transaction ID</th>
                <th class="px-6 py-3 text-left font-medium">Type</th>
                <th class="px-6 py-3 text-left font-medium">Account No</th>
                <th class="px-6 py-3 text-left font-medium">Date</th>
                <th class="px-6 py-3 text-left font-medium">Amount</th>
              </tr>
            </thead>
            <tbody id="table-body" class="bg-white">
              {% include 'transactions/partials/cashier_transaction_table_body.html' %}
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        {% if page.paginator.num_pages > 1 %}
        <div class="px-6 py-4 text-sm text-gray-500 flex justify-end items-center space-x-4">
          {% if page.has_previous %}
          <a href="{% url 'transactions' %}?page={{ page.previous_page_number }}" class="text-blue-500">&lt;
            Previous</a>
          {% endif %}
          {% for num in page.paginator.page_range %}
          {% if page.number == num %}
          <button class="w-6 h-6 bg-blue-600 text-white rounded text-xs">{{ num }}</button>
          {% else %}
          <a href="?page={{ num }}" class="text-blue-500">{{ num }}</a>
          {% endif %}
          {% endfor %}
          {% if page.has_next %}
          <a href="{% url 'transactions' %}?page={{ page.next_page_number }}" class="text-blue-500">Next &gt;</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </main>
  </div>
</body>

</html>