{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EWABB Transactions</title>
    {% tailwind_css %}
  </head>
  <body class="bg-gray-100 font-sans">
    <div class="flex h-screen">
      {% include 'dashboard/partials/member_nav.html' %}
      <!-- Main Content -->
      <main class="ml-64 mt-[72px] flex-1">
        <div class="p-6 mt-6">
          <div class="px-6 py-4 text-lg font-semibold text-gray-700">All Transactions</div>
          <div class="bg-white shadow rounded-xl overflow-hidden">
            <table id="myTable" class="min-w-full text-left">
              <thead>
                <tr class="text-sm">
                  <th class="px-6 py-3 text-left font-medium">Transaction ID</th>
                  <th class="px-6 py-3 text-left font-medium">Transaction Type</th>
                  <th class="px-6 py-3 text-left font-medium">Date</th>
                  <th class="px-6 py-3 text-left font-medium">Amount</th>
                </tr>
              </thead>
               <tbody id="transaction-table-body" class="bg-white">
                  {% include 'transactions/partials/member_transaction_table_body.html' %}
                </tbody>
            </table>
          </div>
          <div class="px-6 py-4 text-sm text-gray-500 flex justify-end items-center space-x-4">
              <button class="text-blue-500">&lt; Previous</button>
              <button class="w-6 h-6 bg-blue-600 text-white rounded text-xs">1</button>
              <button class="text-blue-500">2</button>
              <button class="text-blue-500">3</button>
              <button class="text-blue-500">4</button>
              <button class="text-blue-500">Next &gt;</button>
            </div>
        </div>
      </main>
    </div>
  </body>
</html>
