{% for backup in page.object_list %}
<tr class="border-b border-gray-200">
    <td class="px-6 py-3">{{ backup.name }}</td>
    <td class="px-6 py-3">{{ backup.location }}</td>
    <td class="px-6 py-3">{{ backup.size }}</td>
    <td class="px-6 py-3">{{ backup.created_at|date:"Y-m-d h:i A" }}</td>
    <td class="px-4 py-2">
        <button id="table-restore" onclick="openRestoreModal(this)"
            class="w-15 h-6 flex items-center justify-center rounded-2xl border border-red-500 text-red-500 hover:bg-red-100"
            data-name="{{ backup.name }}" data-location="{{ backup.location }}">Restore</button>
    </td>
</tr>
{% endfor %}